
<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="Email" placeholder="youremail@mail.com"required>
    <input type="password" name="Password" placeholder="password" required>
    <button type="submit">Sign In</button>
</form>
